*.log
*.cfg
*.conf
*.pyc
*.project
*.pydevproject
*.zip
*.gz
.tox
.cache
.pytest_cache/*
_build/*
.python-version
.vscode
src/wiotp_sdk.egg-info/*
MANIFEST
README.txt
build/*
dist/*
.coverage
tox.out
samples/deviceFactory/localDeviceRegistry
samples/deviceFactory/bin
samples/*.exe
samples/rbac-config.yaml
test/.DS_Store
