/* Override the pretty bootstrap theme */
ul.nav li a:active, ul.nav li a:hover, ul.nav li a:focus, ul.nav li a{
	color:#000;
	text-decoration:none;
	background-color:#fff;
}

ul.nav li.active a:active, ul.nav li.active a:hover, ul.nav li.active a:focus, ul.nav li.active a {
	color:#000;
	text-decoration:underline;
	background-color:#fff;
}


/* initially set the connectedPanel to no display */
div#connectedPanel {
	display:none
}

div#connectWarning, div#registerWarning , div#goWarning, div#vibrationWarning {
	visibility: hidden
}

.iotDemo .alert {
	width:100%; 
	text-align:center; 
	border-bottom: 1px solid red; 
	line-height:0.1em; 
	margin:30px 0 20px; 
}

.iotDemo .alert span{
	background:#fff; 
	padding:0px 10px; 
	color: red;
	font-size: 20px;
}


* {
	color: #152935;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	font-size: 14px;
	font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.iotDemo a {
	text-decoration: underline;
	color: inherit;
	font-weight: bold;
}

.iotDemo .center-text {
	text-align: center;
}

.iotDemo .medium-large-font {
	font-size: 2.25rem;
	line-height: 1.2em;
	letter-spacing: 0.01rem;
	font-weight: 300;
	text-align: center;
	width: auto;
	margin: 0px 0px 0.3em;  
	font-family: "Helvetica Neue","HelveticaNeue","Helvetica","Segoe UI","Segoe","Calibri","Roboto","Droid Sans","Arial Unicode MS",Arial,sans-serif;  
	text-rendering: optimizelegibility;  
	padding: 0px;
	border: 0px none; 
	font-style: inherit; 
	font-size-adjust: inherit;
	font-stretch: inherit;
	font-feature-settings: inherit;
	font-language-override: inherit;
	font-kerning: inherit;
	font-synthesis: inherit;
	font-variant: inherit;  
	vertical-align: baseline;
}

.iotDemo .medium-font {
	font-size: 1.14286rem;
	line-height: 1.45em;
	margin-bottom: 0;
}

.iotDemo .medium-font-bold {
	font-size: 1.14286rem;
	line-height: 1.45em;
	margin-bottom: 0;
	font-weight: bold;
}

.iotDemo, .iotDemo a, .iotDemo blockquote, .iotDemo cite, .iotDemo div, .iotDemo dl, .iotDemo dt, .iotDemo dd .iotDemo footer, .iotDemo h1, .iotDemo h2, .iotDemo h3, .iotDemo h4, .iotDemo h5, .iotDemo h6, .iotDemo img, .iotDemo li, .iotDemo nav, .iotDemo ol, .iotDemo p, .iotDemo section, .iotDemo ul {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

.iotDemo {
	line-height: 1;
}

.medium-large-font {
	color: #1d3649;
}

.iotDemo .use-code-input-row input {
	height: 3.2rem;
	margin-right: 1em;
	font-weight: 700;
	letter-spacing: 0.04rem;
	justify-content: center;
	text-align: center;
	padding: 1rem;
}


.iotDemo .black-button {
	background-color: #152935;
	color: white;
}

.iotDemo .section-button {
	justify-content: center;
	text-align: center;
	text-decoration: none;
	font-size: 1rem;
	line-height: 1.45em;
	letter-spacing: 0.04rem;
	padding: 0.714rem 2.5rem;
	color: #fff;
	border: 2px solid #152935;
	font-weight: 700;
	text-transform: uppercase;
}

img.divider-line {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.iotDemo ol, .iotDemo ul {
	list-style: none;
}

@media screen and (min-width: 694px)
.iotDemo .white-section {
	padding: 4.28571rem 10%;
}

@media screen and (min-width: 862px)
.iotDemo .white-section {
padding: 5.71429rem 10%;
}

div#name-entry-section {
	background-image: url('/static/images/squares.svg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: auto;
	border: 0;
	padding-bottom: 0;
}

div#connectedPanel {
	padding-top: 0;
}

@media screen and (min-width: 1440px){
	div#name-entry-section {
		background-size: contain;
	}
}

p#first-steps {
	padding-top: 1rem;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#name-entry-section input#username3 {
	width: inherit;
}

#name-entry-section input#pin3 {
	width: 10em;
}

#name-entry-section, #connectedPanel {
	padding: 3.5rem 10%;
}

#qrcode {
	padding: 1rem;
}

@media screen and (min-width: 694px){
	#name-entry-section, #connectedPanel {
		padding: 4.28571rem 10%;
	}
}

form#goForm {
	margin-top: 1em;
	margin-bottom: 1em;
}

/* Graph styles */
.graphHolder {}

.primaryline {
	stroke: #1d3649;			/* the line colour for paths*/
	stroke-width: 2;			/* the line width for paths is 2 pixels */
	fill: none;
}

.secondaryline {
	stroke: #41d6c3;			/* the line colour for paths*/
	stroke-width: 2;			/* the line width for paths is 2 pixels */
	fill: none;
}

.tertiaryline {
	stroke: #5596e6;			/* the line colour for paths*/
	stroke-width: 2;			/* the line width for paths is 2 pixels */
	fill: none;
}

.axis path,
.axis line {
	fill: none;					/* don't fill areas bounded by the axis line */
	stroke: grey;				/* make the axis line grey */
	stroke-width: 1;			/* make the width of the axis lines 1 pixel */
	shape-rendering: crispEdges;/* make the edges sharp */
}
.headerValue {

}
.grid .tick {
	stroke: lightgrey;
	opacity: 0.7;
}
.grid path {
	stroke-width: 0;
}

#cube {
	margin-left:auto;
	margin-right:auto;
	height: 270px;
	width: 270px;
	background-color: #f4f4f4;
	border: 1px #2d3f4a solid;
	vertical-align: middle;
}

#visualisations {
	height: 300px;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
}


